.center {
    margin: auto;
    width: 100%;
    padding: 10px;
  }

.right {
    margin: right;
    width: 100%;
    padding: 10px;
    }

.profileBody{
    background-image: url("../images/woods.png");    
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    }