.center {
    margin: auto;
    width: 100%;
    padding: 10px;
  }

.right {
    margin: right;
    width: 100%;
    padding: 10px;
    }

.profileBody{
    background-image: url("../images/woods.png");    
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    }

.profileMargin{
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 150px;
  margin-left: 150px;
}

.profileDiv{
  clear: center; 
  text-align: center; 
}