.myPostText{
    text-align: left;
    letter-spacing: 0px; 
    color: black; 
    text-shadow: 2px 2px 5px red;
}

.myPostTitle{
    text-align: left;
    letter-spacing: 0px; 
    color: chocolate; 
    text-shadow: 2px 2px 5px rgb(0, 38, 255);
}

.myPostAddTitle{
    text-align: center;
    letter-spacing: 0px; 
    color: chocolate; 
    text-shadow: 2px 2px 5px rgb(0, 38, 255);
}

.postBody{
    background-image: url("../images/birdDog.png");
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.allPostBody{
    background-image: url("../images/allPost.png");
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.postMargin{
margin-top: 300px;
margin-bottom: 300px;
margin-right: 150px;
margin-left: 150px;
}

.postDiv{
clear: center; 
text-align: center; 
}

.postRightMar{
    margin-right: 5px;
    margin-bottom: 5px;
  }

.halfBr {
    line-height: 10px;
 }

.lineColor{
    color: red;
    line-height: 10px;
}