li {
    display: inline;
}

nav {
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/navBack.png");
}

.navImg {
    height: 90px;
    opacity: 0.5;
}

.navTextOj{
    color: firebrick;
    text-align: right;
}

