.postText{
    text-align: left;
    letter-spacing: 0px; 
    color: rgb(218, 127, 52);   
}

.photoBody{
    background-image: url("../images/photoBack.png");
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.postDiv{
    clear: center; 
    text-align: center; 
  }

.postMargin{
margin-top: 300px;
margin-bottom: 300px;
margin-right: 150px;
margin-left: 150px;
}

.col {
    padding-top: 50px;
}
.thumbnail{
    height: 200px;
    width: 180px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5%;
    float: left;
}

.col-2-3 {
    width: 66.66%;
  }